<div class="container edit-container">
  <h2 class="heading">Edit an Article</h2>

  <%= render 'form' %>  

  <div>
    <%= link_to 'Return to articles', articles_path, class: "btn btn-primary" %>
  </div>
</div>