<div class="container articles-container">
  <h2 class="heading">All articles</h1>

  <%= render 'article' %>  
  <div>
    <%= link_to 'Create new article', new_article_path, class: "btn btn-primary" %>
  </div>
</div>
