<div class="container edit-container">
  <h2 class="heading">Create a new Article</h2>

  <%= render 'form' %>
  <div>
    <%= link_to 'Return to articles', articles_path, class: "btn btn-primary btn-bottom" %>
  </div>
</div>