<div class="container edit-container">
  <h2 class="heading">Edit category</h2>
  <%= render 'shared/errors', obj: @category %>
  <%= render 'form' %>
  <div>
    <%= link_to 'Return to categories', categories_path, class: "btn btn-primary btn-bottom" %>
  </div>
</div>